<app-nav-bar></app-nav-bar>
<router-outlet>

</router-outlet>
<!--capturando el evento variable reservada-->
<label>Server Name {{fromEvent}}</label>
<input type="text" class="form-control" data-name="gustavo" (input)="onUpdateFromEvent($event)">
<button class="btn btn-primary" (click)="TextfromFunction()">Evento</button>
<div class="form-group">
  <label for=""></label>
  <input type="text" class="form-control" name="" [(ngModel)]="kague" placeholder="Kages">
  <small id="helpId" class="form-text text-muted">Ingrese una sombra</small>
</div>

<div *ngIf="kague">
    <h4 
        [ngClass]="{'advertencia':kague == 'ka'}">
    {{kague}}</h4>
</div>

<ul>
<li *ngFor="let sombra of sombras">
<h1>{{sombra}}</h1>
</li></ul>
<app-pantalla2></app-pantalla2>
<input type="text" [(ngModel)]="title">
<h1>{{title}}</h1>