<div>
  <ul class="screen">
    <li>
      <a href="/screen3">Insert screen 3</a>
    </li>
  </ul>
</div>

<div class="target">

</div>

<div class="contenedor">
  <div class="carta">

    <div class="lado frente">
      <h3>
        <img class="title" [src]="url" alt="">
      </h3>
      <img src="https://dw9to29mmj727.cloudfront.net/thumbnails/episodes/705-naruto-2-320x180.jpg" alt="">
    </div>

    <div class="lado atras">
      <h3>
        {{anime}}</h3>
      <ul>
        <li>{{trama}}</li>
      </ul>
    </div>

  </div>
</div>

<p>
  pantalla2 works!
</p>